.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.cat-title {
  font-size: 30px;
  margin: 15px 15%;
}

.cat-description {
  font-size: 15px;
  margin: 15px 15%;
  line-height: 17px;
}

.cats-container {
  height: auto;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  list-style: none;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0;
}

.result-container {
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  list-style: none;
  border-radius: 20px;

  padding: 0;
}

.clouders-found {
  background-color: rgb(255, 255, 255);
  height: auto;
  display: grid;
  list-style: none;
  border-radius: 20px;
  min-height: 200px;
  border: 3px solid rgb(0, 200, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cat-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cat {
  display: flex;
  background-color: white;
  color: #343434;
  flex-direction: column;
  align-items: center;
}

.cat-img {
  width: 55px;
}

.cat-info {
  z-index: 1;
  margin-top: 50px;
  position: absolute;
  display: none;
  background-color: rgb(255 253 253 / 80%);
  color: #343434;
  box-sizing: border-box;
  transition: opacity 0.5s ease;
  font-size: 10px;
}

.cat-container:hover .cat-info {
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.selected::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 249, 52, 0.5);
  z-index: 1;
  border-radius: 50px;
}

button {
  padding: 10px 20px;
  margin: 0 20px;
  border: none;
  border-radius: 50px;
  color: white;
  font-weight: 500;
}

.check-button {
  background-color: blue;
}

.reset-button {
  background-color: rgb(79, 79, 79);
}

button:hover {
  background-color: black;
}
