.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cats-cloud {
  height: auto; /* Change to auto to allow the container to adjust based on content */
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 10px; /* Gap between grid items */
  list-style: none;
}

.clouders-found {
  background-color: rgb(206, 206, 206);
  height: auto; /* Change to auto to allow the container to adjust based on content */
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 10px; /* Gap between grid items */
  list-style: none;
}

.cat-container {
  position: relative;
  display: inline-block;
}

.cat {
  display: flex;
  background-color: white;
  color: #343434;
  flex-direction: column;
  align-items: center;
}

.cat-img {
  width: 55px;
}

.cat-info {
  position: absolute;
  display: none;
  /* width: 100%;*/
  height: 50%;
  background-color: rgb(255 253 253 / 80%);
  color: #343434;
  /* padding: 20px; */
  box-sizing: border-box;
  /* opacity: 0; */
  transition: opacity 0.5s ease;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  font-size: 10px;
}

.cat-container:hover .cat-info {
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 30pxpx;
  padding-bottom: 30px;
}

.selected::before {
  content: ""; /* Create a pseudo-element */
  position: absolute; /* Position it relative to the parent */
  top: 0;
  left: 0;
  width: 100%; /* Cover the entire parent element */
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5); /* Gray background with opacity */
  z-index: 1; /* Ensure it appears above the image */
}

.logo-client {
  display: block; /* Ensure the image takes up the full space of the parent */
  width: 100%;
  height: auto;
}
