.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cats-container {
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  list-style: none;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.result-container {
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  list-style: none;
  border-radius: 20px;
}

.clouders-found {
  background-color: rgb(206, 206, 206);
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  list-style: none;
  border-radius: 20px;
}

.cat-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cat {
  display: flex;
  background-color: white;
  color: #343434;
  flex-direction: column;
  align-items: center;
}

.cat-img {
  width: 55px;
}

.cat-info {
  z-index: 1;
  margin-top: 50%;
  position: absolute;
  display: none;
  height: 50%;
  background-color: rgb(255 253 253 / 80%);
  color: #343434;
  box-sizing: border-box;
  transition: opacity 0.5s ease;
  font-size: 10px;
}

.cat-container:hover .cat-info {
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 30pxpx;
  padding-bottom: 30px;
}

.selected::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  z-index: 1;
  border-radius: 50px;
}

.logo-client {
  display: block;
  width: 100%;
  height: auto;
}

button {
  background-color: blue;
  padding: 10px 20px;
  margin: 0 20px;
  border: none;
  border-radius: 50px;
  color: white;
  font-weight: 500;
}
